<footer class="footer">
  <div class="footer-container">
    <div class="footer-section">
      <h2 class="footer-logo">
        <img src="assets/images/viettel-developers-logo_white.png" alt="Marketplace Logo White">
      </h2>
      <!-- <p>Website chính thức của dịch vụ Network APIs do Viettel cung cấp</p> -->
      <!-- <p>
        Đơn vị chủ quản: Tổng Công ty Mạng lưới Viettel<br>
        Địa chỉ: Lô B1C, Cụm sản xuất tiểu thủ công nghiệp và <br>
        công nghiệp nhỏ, phường Dịch Vọng Hậu, quận Cầu <br>
        Giấy, TP Hà Nội. <br>
        Email: support.opengateway&#64;viettel.com.vn <br>
      </p> -->
      <p>
        Business registration number: 0100109106, first issued by
        the Hanoi Department of Planning and Investment 
        on 13/07/2010, amended for the 18th time on 11/01/2022. <br>
        Legal representative: CEO Tao Duc Thang.
      </p>
     
      <p>© Viettel 2024. All rights reserved.</p>
    </div>
    <!-- <div class="footer-section">
        <h4>Technical References</h4>
        <ul>
          <li><a class="nav-link" routerLink="/apis" routerLinkActive="active">Sandbox</a></li>
          <li><a class="nav-link" routerLink="/apis" routerLinkActive="active">SDK & Tools</a></li>
          <li><a class="nav-link" routerLink="/apis" routerLinkActive="active">Integrations</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Documentation</h4>
        <ul>
          <li><a class="nav-link" routerLink="/apis" routerLinkActive="active">Documentation</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Terms and Conditions</h4>
        <ul>
          <li><a class="nav-link" routerLink="/apis" routerLinkActive="active">Privacy Policy</a></li>
          <li><a class="nav-link" routerLink="/apis" routerLinkActive="active">Cookies Policy</a></li>
          <li><a class="nav-link" routerLink="/apis" routerLinkActive="active">Cookies Configuration</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contact</h4>
        <div class="footer-socials">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
        </div>
      </div> -->
  </div>
</footer>